.experience
	padding: 10rem 0
	box-sizing: border-box
	justify-items: center

	&__advantages
		margin: 0 auto
		display: grid
		gap: 3.2rem 8rem
		grid-template: 1fr / repeat(auto-fit, 24rem)
		justify-content: center
		@media (max-width: 768px)
			grid-template: 1fr / 24rem

.advantages
	max-width: 90rem
	margin-bottom: 3.2rem

	&__item
		box-sizing: border-box
		border-radius: 1em
		border: 1px solid rgba(123, 74, 226, 0.50)
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		padding: 3rem 2rem
		transition: .2s
		cursor: pointer

		&:hover
			background-color: rgba(123, 74, 226, 0.10)

	&__image
		max-width: 7.2rem
		margin-bottom: .2em

	&__period
		color: #FFF
		font-size: 1.6rem

	&__title
		color: #FFF
		font-size: 3.2rem
		font-weight: 700

.advantages-exp
	max-width: 90rem
	margin: 0 auto
	display: grid
	gap: 3.2rem 8rem
	grid-template: 1fr / repeat(auto-fit, 23rem)
	padding: 3rem 2rem
	border-radius: 1.6rem
	background: rgba(123, 74, 226, 0.10)
	justify-content: center
	color: #7B4AE2
	@media (max-width: 890px)
		max-width: 36em

	&__item
		text-align: center

	&__subtitle
		font-size: 1em

	&__title
		font-size: 2em
		font-weight: 700
